# The purpose of this program is to create a library is the following:

Read Source directory
Read File name
Load CSV file
delete unnamed colums
if na = true clean na
if strings value in not listed colums replaced by means

In [165]:
import pandas as pd                            #Pandas is a software library written for the Python programming language for data manipul   
import numpy as np                             #NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices

In [148]:
DATADIR = 'C:\\Users\\AlcalaF\\Documents\\projects\\Dataplayground_libraries\\data'
mydata = pd.read_csv (DATADIR + '/Embalse La Fe Datos Crunch.csv')
mydata.head()

,Fecha de muestreo,Punto de Muestreo,Profundidad secchi (m),Zona fótica (m),pH,Temperatura Media (°C),OD (mg/l),%OD,Conductividad (us/cm),Redox,...,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185
0,30-Jan-12,Torre Superficial,1.52,4.11,7.3,19.6,7.5,104.80,43.6,209.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jan-12,Torre Media,0.17,0.47,7.0,18.6,6.8,93.40,51.3,216.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30-Jan-12,Torre Profunda,1.52,4.11,6.8,17.5,5.2,70.50,55.4,214.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30-Jan-12,Presa,1.75,4.73,7.3,19.3,7.7,106.90,41.4,205.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30-Jan-12,Potreros,#VALUE!,#VALUE!,7.3,20.0,7.4,104.20,41.9,193.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
#Remove unnamed columns
mydata.drop(mydata.columns[mydata.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [155]:
#For each column that is not listed as string type calculate replace na and strings values by column mean
for col_name in mydata.columns:
    if col_name == 'Fecha de muestreo ' or col_name == 'Punto de Muestreo':
        pass
    else:
        mydata[col_name] = pd.to_numeric(mydata[col_name], 'coerce').pipe(lambda s: s.fillna(s.mean()))